<section>
    <h1>Contact Us</h1>
    
    {% if form.errors %}
        <h2 class="errors">
            Please correct the highlighted field{{ form.errors|pluralize }} below and resubmit.
        </h2>
    {% endif %}
    
    <p>Fields marked with a <span class="required">*</span> are requrired.</p>
    
    <form action="" method="post">
        {% csrf_token %}
        {% include "contact/form_snippet.html" %}
        <div>
            <input type="submit" value="Submit" id="submit" />
        </div>
    </form>
</section>